<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gabi's Wrld!</title>
    <link rel="stylesheet" href="css/global.css" />
    <link rel="stylesheet" href="css/upload.css" />
    <link rel="stylesheet" href="css/header.css" />
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <h1>Mundinho da Babi</h1>
      <a href="/">
        <img src="/images/other/coracaum.png" alt="Coraçãozin" />
      </a>
    </header>
    <main>
      <div class="form-wrapper">
        <form>
          <div id="wrapper">
            <label for="image">
              <p id="image-text">Selecione as imagem</p>
              <img
                id="default-image"
                src="/images/other/image_icon.png"
                alt="image"
              />
            </label>
            <input id="image" name="image" type="file" accept="image/*" />
          </div>
          <button id="btn" type="submit" disabled>Enviar</button>
        </form>
      </div>
    </main>
  </body>
  <script>
    const form = document.querySelector("form");
    const button = document.querySelector("#btn");
    const wrapper = document.querySelector("#wrapper");

    const dataImageValues = [];
    const inputs = document.querySelectorAll("input");
    const lastInput = inputs[inputs.length - 1];

    const setAttributes = (element, attr) => {
      const attributes = Object(attr);
      const entries = Object.entries(attributes);
      entries.map((value, index) => {
        const attr_key = value[0];
        const attr_value = value[1];
        element.setAttribute(attr_key, attr_value);
      });
      return element;
    };

    const createNewElement = (type, attr) => {
      const element = document.createElement(type);
      const finalElement = setAttributes(element, attr);
      return finalElement;
    };

    const newImage = (blobURL) => {
      const attr = {
        src: blobURL,
        style: "display:block",
        class: "blob-image",
      };
      const element = createNewElement("img", attr);
      return element;
    };

    const newImageDeleteButton = () => {
      const attr = {
        class: "delete",
        onClick: "removeImage(this)",
        id: `delete-${dataImageValues.length - 1}`,
      };
      const element = createNewElement("div", attr);
      element.innerHTML = "x";
      return element;
    };

    const newImageContainer = (blobURL) => {
      const attr = { class: "blob-image-container" };
      const imageContainer = createNewElement("div", attr);
      const image = newImage(blobURL);
      const deleteButton = newImageDeleteButton();
      imageContainer.appendChild(image);
      imageContainer.appendChild(deleteButton);
      return imageContainer;
    };

    const handleButton = () => {
      let totalImages = dataImageValues.filter(
        (image) => image !== null
      ).length;

      console.log(totalImages);
      if (totalImages > 0) {
        button.removeAttribute("disabled");
      } else {
        button.setAttribute("disabled", "disabled");
      }
    };

    const removeImage = (element) => {
      const imageContainer = element.parentNode;
      const number = element.getAttribute("id").replace("delete-", "");
      const index = parseInt(number);

      imageContainer.remove();
      dataImageValues[index] = null;

      handleButton();
    };

    lastInput.addEventListener("change", (ev) => {
      dataImageValues.push(lastInput.files[0]);
      const lastDataImageValue = dataImageValues[dataImageValues.length - 1];

      const blobURL = URL.createObjectURL(lastDataImageValue);
      const imageContainer = newImageContainer(blobURL);

      wrapper.appendChild(imageContainer);
      handleButton();
    });

    form.addEventListener("submit", async (ev) => {
      ev.preventDefault();

      const formData = new FormData();
      const data = dataImageValues.filter((value) => value !== null);
      const value = data.map((value) => {
        formData.append("image", value);
      });
      $.ajax({
        url: "upload",
        type: "POST",
        data: formData,
        processData: false,
        contentType: false,
        success: function (response) {
          window.location.href = `${window.origin}`;
        },
        error: function (jqXHR, textStatus, errorMessage) {
          console.log(errorMessage); // Optional
        },
      });
    });
  </script>
</html>
