.none {
  display: none;
}
body {
  justify-content: flex-start;
}
main {
  flex: 1;
  max-width: 1280px;
  margin: 0 auto;
  margin-top: 20px;
}

.form-wrapper {
  background: #eed5d9;
  width: 500px;
  border-radius: 12px;
  height: 80%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

form > div {
  padding: 10px;
  border: 2px dashed #c099cd;
  width: 100%;
}

form > div > label {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  object-fit: cover;
  overflow: hidden;
}
form > div > label > p {
  font-weight: 600;
  font-size: 24px;
}
form > div > label > img {
  max-width: 200px;
}
#blob-image {
  display: none;
}
input[type="file"] {
  display: none;
}
button[type="submit"] {
  margin-top: 20px;
  padding: 5px 10px;
  border: none;
  background-color: #d18c9a;
  border-radius: 6px;
  font-size: 16px;
  width: 100%;
  cursor: pointer;
}
button[type="submit"]:disabled {
  display: none;
}
button[type="submit"]:hover {
  background-color: #c2687a;
}
